/* Add your CSS code below */
.link {
  color: red;
  font-weight: bold;
  text-decoration-line: none;
}
.message__time {
  font-size: 0.9rem;
}
.message--unread {
  border-left-style: solid;
  border-left-color: blue;
  border-left-width: 2px;
}
.message__time--old {
  opacity: 50%;
}
.message {
  line-height: 20px;
}
